<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <i class="bi bi-house"></i>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <i class="bi bi-box-seam"></i>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <i class="bi bi-basket3"></i>
      <ion-label>Comprar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
