
ion-card {
    padding: 12px;
    margin: 15px;
    border-radius: 12px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

ion-card-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}